.checkoutWrap {
  margin: 0 auto;

  padding-top: 5rem;
  .cart {
    button.btn {
      max-width: 40rem;
    }
  }

  h1 {
    display: block;
    width: 100%;
  }

  h1,
  p {
    text-align: center;
  }

  .checkoutHeader {
    border-bottom: 1px solid black;
  }

  .cart {
    max-width: 100rem;
    margin: 0 auto;

    .itemWrapper {
      border-bottom: 1px solid Black;
    }
    table {
      width: 100%;
    }
  }

  .checkoutHeader,
  .cart {
    width: 100%;
    text-align: left;

    th,
    td {
      width: 22%;
      text-align: center;
    }
  }

  .cartItem {
    .arrow {
      cursor: pointer;
    }
    .quantity {
      margin-bottom: 1rem;
    }
    td {
    }
    td img {
      display: block;
      width: 100%;
    }
  }

  .cartBtns {
    display: block;
    width: 100%;
  }

  .cartBtn {
    cursor: pointer;
  }
  .noItem {
    width: 35rem;
    margin: 0 auto;
    padding-bottom: 2rem;
    p {
      margin-left: 10rem;
      text-align: center;
      width: 15rem;
      padding-bottom: 2rem;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .checkoutWrap {
    display: block;
    margin: 0 auto;
    padding-top: 5rem;
    padding-left: 0rem;
    transform: scale(1.1);
    padding-bottom: 5rem;
    .cart {
      button.btn {
        max-width: 40rem;
      }
    }

    h1 {
      display: block;
      width: 100%;
    }

    h1,
    p {
      text-align: center;
    }

    .checkoutHeader {
      border-bottom: 1px solid black;
    }

    .cart {
      max-width: 100rem;
      margin: 0 auto;

      .itemWrapper {
        border-bottom: 1px solid Black;
      }
      table {
        width: 100%;
      }
    }

    .checkoutHeader,
    .cart {
      width: 100%;
      text-align: left;

      th,
      td {
        width: 22%;
        text-align: center;
      }
    }

    .cartItem {
      .arrow {
        font-weight: 500;
        cursor: pointer;
      }
      td {
        font-weight: 500;
      }
      td img {
        display: block;
        width: 100%;
      }
    }

    .cartBtns {
      display: block;
      width: 100%;
    }

    .cartBtn {
      cursor: pointer;
    }
  }
  .noItem {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-right: 10rem;
  }
}
