.footer {
  .wrap {
    .item {
      cursor: pointer;
      width: 13rem;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transfrom: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      // display: block;
      // width: 100%;
      // outline: 5px black;
      // font-size:0.5rem;
    }
  }
}
