.paymentDetails {
  display: block;
  width: 100%;
  max-width: 100rem;
  padding: 0;
  margin: 2rem auto;

  .group {
    margin: 0 0 2rem;
    .cardElement {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  .submitButton {
    padding-bottom: 3rem;
  }
}

@media only screen and (max-device-width: 480px) {
  .paymentDetails {
    display: block;
    width: 60rem;
    max-width: 100rem;
    margin: 2rem auto;
    padding-left: 12rem;

    .group {
      margin: 0 0 2rem;
      height: auto;
      .cardElement {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        object-fit: contain;
      }
    }
    .submitButton {
      .btn {
        margin-top: 0;
        width: 40rem;
      }
    }
  }
}
