.mainWrap {
  display: block;
  margin: 0 auto;
  width: 80%;
  .addNewProductForm {
    margin-bottom: 20rem;
    .btn {
      margin-bottom: 20rem;
    }
  }
  .topWrap {
    h1 {
      text-align: center;
    }
  }
  .lowWrap {
    table.topButtons {
      tbody {
        tr {
          td {
            .btn.addProduct {
              width: 40rem;
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
    .btn {
      width: 20rem;
    }
    .singleRow {
      border-bottom: 1px solid black;
    }
    table tbody tr {
      td {
        vertical-align: middle;
        border-bottom: 1px black;
        img {
          max-width: 30rem;
          max-height: 30rem;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .mainWrap {
    display: block;
    margin: 0 auto;
    max-width: 480px;
    margin-right: 40rem;
    .topWrap {
      h1 {
        text-align: center;
        margin-left: 10rem;
      }
    }
    .lowWrap {
      .btn.addProduct {
        width: 15rem !important;
        margin-bottom: 2rem;
        margin-left: 10rem;
      }
    }
    .btn {
      width: 10rem !important;
    }
    .singleRow {
      border-bottom: 1px solid black;
    }
    table tbody tr {
      td {
        vertical-align: middle;
        border-bottom: 1px black;
        img {
          max-width: 20rem;
          max-height: 20rem;
        }
      }
    }
  }
}

// .main {
//   margin: 0 auto;
// }

// .admin {
//   .addNewProductForm {
//     .AddProductText {
//       font-size: 2rem;
//       text-transform: none;
//       margin-bottom: 0.3rem;
//     }
//     .uploadBTN {
//       padding-top: 0.3rem;
//       padding-bottom: 3rem;
//     }
//   }
//   .callToActions {
//     display: inline-block;
//     width: 100%;
//     padding: 0;
//     margin: 0 auto;

//     s ul,
//     li {
//       width: 20rem;
//       margin: 0;
//       padding: 0;
//       list-style-type: none;
//     }
//     h2 {
//       margin-top: 0rem;
//       margin-bottom: 0;
//     }
//     ul {
//       li {
//         display: inline-block;
//       }
//     }
//   }
// }

// .manageProducts {
//   h1 {
//     margin-top: 1.5rem;
//   }
//   table.results {
//     tr {
//       td {
//         text-align: center;
//         vertical-align: middle;
//       }
//       &:nth-child(even) {
//         background-color: #d3d3d3;
//       }
//       .thumb {
//         width: 15rem;
//         margin: 0 auto;
//       }
//     }
//     img {
//       max-width: 20rem;
//       max-height: 20rem;
//     }
//     td {
//       max-width: 30rem;
//       max-height: 30rem;
//       .btn {
//         width: 10rem;
//       }
//     }
//   }
// }
